<style type="text/css">
    .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }

    md-input-container:not(.md-input-has-value) input:not(:focus), 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field {
        color: inherit !important;
    }
    
</style>
<div layout="column" flex>
    <div style="height:500px" md-colors="{background:'accent'}"></div>
    <div layout-margin layout layout-align="center start">
        <md-card style="position:relative;top:-245px" class="md-whiteframe-5dp hoverable" flex="100" flex-gt-md="80">
            <md-card-title md-colors="{background:'primary-600'}" layout="column" layout-align="start center"> 
                <md-card-title-text>
                    <span class="md-headline">{{title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content style="border-radius:2px">
                <form id="routeForm" name="routeForm" layout="column" accept-charset="utf-8" autocomplete="off">
                    <md-card-content layout="column" flex layout-margin style="margin-bottom:0;padding-bottom:0">
                        <div layout layout-wrap layout-align="center center">
                            <md-input-container flex="100" flex-gt-md="50">
                                <label>Route Name</label>
                                <md-icon class="md-primary" md-svg-icon="login:user" flex="10" aria-label="Enter route name."></md-icon>
                                <input name="name" ng-model="route.name" required>
                                <div ng-messages="route.name.$error">
                                    <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100" flex-gt-md="50">                                
                                <place-autocomplete custom-label="Start Location" ng-model="route.startLocation" md-colors="{color:'accent'}" required></place-autocomplete>
                                <div ng-messages="route.startLocation.$error">
                                    <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100" flex-gt-md="50">
                                <place-autocomplete custom-label="End Location" ng-model="route.endLocation" md-colors="{color:'accent'}" required></place-autocomplete>
                                <div ng-messages="route.endLocation.$error">
                                    <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100" flex-gt-md="50">
                                <input mdc-datetime-picker="" date="true" time="true" type="text" id="startTime" placeholder="Start Time" min-date="minDate"
                                    ng-model="route.startTime" class="md-input" md-colors="{color:'accent'}" required>
                            </md-input-container> 
                            <md-input-container flex="100">
                                <label>Cargos</label>
                                <md-select ng-model="selectedCargos"
                                        md-on-close="clearSearchTerm()"
                                        md-on-open="getCargos()"
                                        data-md-container-class="selectdemoSelectHeader"
                                        multiple>                                
                                <md-optgroup label="cargos">
                                    <md-option ng-value="cargo.id" ng-repeat="cargo in cargos track by cargo.id"><b>{{cargo.invoiceNo}}</b>: {{cargo.description}}</md-option>
                                </md-optgroup>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="100" flex-gt-md="50">
                                <input mdc-datetime-picker="" date="true" time="true" type="text" id="startTime" placeholder="ETA" min-date="minDate"
                                    ng-model="route.eta" class="md-input" md-colors="{color:'accent'}" required>
                                <div ng-messages="route.eta.$error">
                                    <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                        </div>
                        
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center" layout-margin layout-padding layout-wrap>

                        <div flex layout-align="end center" layout layout-margin>
                            <md-button aria-label="Press to create." type="submit" ng-click="saveRoute()" class="md-raised md-accent" 
                                ng-disabled="routeForm.$invalid" style="margin-right:10px">{{title!=='Update Route'? 'Create': 'Update'}}</md-button>

                            <md-button aria-label="Press to cancel." ui-sref="main.route.view" class="md-raised md-accent" ng-if="title=='Update Route'"
                                >Cancel</md-button>
                        </div>
                        

                    </md-card-actions>
                </form>                   
            </md-card-content>
        </md-card>
    </div>


</div>