<md-dialog aria-label="Upload Rule">
    <form name="ruleForm" accept-charset="utf-8" ng-submit="upload()">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="center center">
                <h2 class="white-text">Custom Rule Asset</h2>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding>
            <div layout="column" layout-align="center" layout-margin>
                <md-input-container>
                    <label>Vehicle Type</label>
                    <md-select name="vehicleType" ng-model="form.vehicleTypeId" ng-required md-on-open="loadVehicleTypes()">
                        <md-option ng-repeat="vehicleType in vehicleTypes" value="{{vehicleType.id}}">
                            {{vehicleType.type}}
                        </md-option>
                    </md-select>
                    <div flex ng-messages="ruleForm.vehicleType.$error" role="alert" multiple ng-show="ruleForm.vehicleType.$invalid">
                        <div ng-message="required">Please select vehicle type.</div>
                    </div>
                </md-input-container>
                <div flex layout="column">
                    <div>                        
                        <div flex layout="row" layout-align="start center">
                            <div>
                                <label>Jar</label>
                            </div>
                            <input id="fileInput" type="file" name="jar" ng-model="jar.data" ngf-select accept=".jar" ngf-max-size="100MB" required ngf-model-invalid="errorFile" class="ng-hide">
                            <md-button id="uploadButton" class="md-raised md-primary" aria-label="attach_file">Select</md-button>
                            <md-input-container md-no-float style="padding-top:3%">
                                <input id="textInput" ng-model="jar.data.name" type="text" placeholder="No file chosen" ng-readonly="true">
                            </md-input-container>
                        </div>
                        <div flex ng-messages="ruleForm.jar.$error" role="alert" multiple ng-show="ruleForm.jar.$invalid && !ruleForm.jar.$pristine">
                            <div ng-message="required">Custom rule jar is required.</div>
                        </div>
                    </div>                    
                </div>
                <div flex layout="column">
                    <div>                        
                        <div flex layout="row" layout-align="start center">
                            <div>
                                <label>Custom Model</label>
                            </div>
                            <input id="fileInput_" type="file" name="customModel" ng-model="customModel.data" ngf-select accept=".json" ngf-max-size="2MB" required ngf-model-invalid="errorFile" class="ng-hide">
                            <md-button id="uploadButton_" class="md-raised md-primary" aria-label="attach_file">Select</md-button>
                            <md-input-container md-no-float style="padding-top:3%">
                                <input id="textInput_" ng-model="customModel.data.name" type="text" placeholder="No file chosen" ng-readonly="true">
                            </md-input-container>
                        </div>
                        <div flex ng-messages="ruleForm.customModel.$error" role="alert" multiple ng-show="ruleForm.customModel.$invalid && !ruleForm.customModel.$pristine">
                            <div ng-message="required">Custom message model is required.</div>
                        </div>
                    </div>                    
                </div>
                
                <div layout="row" layout-align="start center">
                    <md-input-container flex="80">
                        <label>Jar Execution Path</label>
                        <input type="text" name="executionPath" ng-model="form.jarExecutionPath" required>
                        <div ng-messages="ruleForm.executionPath.$error" role="alert" multiple ng-show="ruleForm.executionPath.$touched">
                            <div ng-message="required">Please mention fully qualified execution path.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-progress-linear md-mode="determinate" value="{{uploadProgress}}"></md-progress-linear>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button type="submit" class="md-accent" ng-disabled="ruleForm.$invalid">Upload</md-button>
            <md-button ng-click="close()" class="md-primary">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>