    .navbar-links>md-list-item>button.md-button:hover,
    .navbar-links>md-list-item>button.md-button:active {
        background-color: rgba(0, 0, 0, 0.2);
        /*    color: white;*/
        transition: 0.3s;
    }
    
    md-sidenav {
        overflow: hidden;
        z-index: 79;
    }
    
    md-icon svg {
        fill: inherit;
    }
    /*Icons*/
    
    .material-icons.md-18 {
        width: 18px;
        height: 18px;
    }
    
    .material-icons.md-24 {
        width: 24px;
        height: 24px;
    }
    
    .md-36,
    .material-icons.md-36 {
        width: 36px;
        height: 36px;
    }
    
    .material-icons.md-48 {
        width: 48px;
        height: 48px;
    }
    
    .material-icons.md-dark {
        color: rgba(0, 0, 0, 0.54);
    }
    
    .material-icons.md-dark.md-inactive {
        color: rgba(0, 0, 0, 0.26);
    }
    
    .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
    }
    
    .material-icons.md-light.md-inactive {
        color: rgba(255, 255, 255, 0.3);
    }
    /*Icons*/
    /*Lighten*/
    
    .lighten-1 {
        opacity: 0.8;
    }
    
    .lighten-2 {
        opacity: 0.6;
    }
    
    .lighten-3 {
        opacity: 0.4;
    }
    
    .lighten-4 {
        opacity: 0.2;
    }
    /*Button group - start*/
    
    .md-button.btn-group {
        font-size: 12px;
        margin: 10px 0;
        padding: 3px 5px 3px 5px;
        color: rgb(49, 46, 46);
        background-color: rgba(224, 224, 224, 0.96);
        text-transform: none;
        font-weight: 400;
        min-width: 50px;
    }
    
    .md-button.btn-group.left {
        border-radius: 3px 0 0 3px;
    }
    
    .md-button.btn-group.middle {
        border-radius: 0;
        /* border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);*/
    }
    
    .md-button.btn-group.right {
        border-radius: 0 3px 3px 0;
    }
    
    .md-button.btn-group:not([disabled]):hover {
        background-color: #2196D8!important;
        color: rgba(44, 65, 164, 0.96);
        transition: 0.3s;
    }
    /*Button group - end*/
    
    md-input-container.custom-wizard-input {
        margin: 0;
    }
    
    md-input-container.custom-wizard-input>.md-errors-spacer {
        min-height: 0;
        height: 0;
    }
    
    .md-toast-content {
        z-index: 90;
    }
    
    md-list-item.md-2-line .md-list-item-text h3,
    md-list-item.md-2-line>.md-no-style .md-list-item-text h3,
    md-list-item.md-3-line .md-list-item-text h3,
    md-list-item.md-3-line>.md-no-style .md-list-item-text h3 {
        white-space: initial;
    }
    
    .vehicle-card >* {
        max-width: 25%;
        min-width: 25%;
    }
    
    .cargo-card >* {
        max-width: 35%;
        min-width: 35%;
    }
    
    md-radio-button.md-Nero_Noctis-theme .md-off {
        border-color: rgb(117, 117, 117);
    }
