<div>
  <h1>Career Closet DB demo</h1>
  <h2>
    <p>
			This page has links to students, apparels and rentals pages to demonstrate the database
    </p>
  </h2>
  <br><%= link_to "Students", students_path %></br>
  <br><%= link_to "Apparels", apparels_path %></br>
  <br><%= link_to "Rentals", rentals_path %></br>

  <h1>Developed by Hex Daemons</h1>
</div>
