
.json-formatter-row {
  font-family: 'Roboto', monospace;
}

.json-formatter-row,
.json-formatter-row a,
.json-formatter-row a:hover {
  color: black;
}

.json-formatter-row .string {
  color: #8BC34A;
}
.json-formatter-row .number {
  color:#00BCD4;
}
.json-formatter-row .boolean {
  color:#F44336;
}
.json-formatter-row .null {
  color: #795548;
}
.json-formatter-row .undefined {
  color: #E91E63;
}
.json-formatter-row .function {
  color: #FF80AB;
}
.json-formatter-row .date {
  background-color: rgba(0, 0, 0, 0.05);
}
.json-formatter-row .url {
  color: #00BCD4;
}
.json-formatter-row .bracket {
  color: #00BCD4;
}
.json-formatter-row .key {
  color: #00BCD4;
}
