
/*Override material stepper properties*/
.md-stepper-number {
    width: 35px !important;
    height: 35px !important;
    margin: 5px 8px !important;
    border-radius: 30px !important;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: #fff;
    font-size: 20px !important;
    line-height: 37px !important;
    text-align: center;
}

.md-stepper-title {    
    font-size: 1.3em !important;
    line-height: 2.5vh !important;
}

.md-stepper-indicator-wrapper {
    background-color: transparent !important;
}

.md-stepper-optional .md-stepper-title small {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-size: 2.2vh !important;
    line-height: 2em !important;
}

.md-steppers-vertical .md-steppers-scope {
    margin-left: 23px !important;
    border-left: 2px solid rgb(158,158,158) !important;
    margin-top: 5px;
    padding-left: 0px !important;
}

.md-error .md-stepper-error-indicator {   
    margin: 0 20px !important; 
    background-color: transparent !important;
}

.md-stepper-icon {
    color: #fff !important;
}

.md-stepper-indicator.md-completed .md-stepper-title, .md-stepper-indicator.md-active .md-stepper-title {
    color: inherit !important;
}

.md-steppers-vertical .md-stepper {
    padding: 0px !important;
}

.md-steppers:not(.md-steppers-linear) .md-stepper-indicator:not(.md-active):not(.md-completed):hover, 
.md-steppers:not(.md-steppers-linear) .md-stepper-indicator.md-editable.md-completed:hover, 
.md-steppers:not(.md-steppers-linear) .md-stepper-indicator:not(.md-active):not(.md-completed):hover 
.md-stepper-indicator-wrapper, .md-steppers:not(.md-steppers-linear) .md-stepper-indicator.md-editable.md-completed:hover .md-stepper-indicator-wrapper {
    background-color: transparent !important;
}