<div flex layout-margin>
    <div flex layout-margin>
        <md-select md-colors="{color:'accent'}" md-on-open="getDeviceNames()" ng-model="device" name="selectedDevice" placeholder="Select your vehicle..." class="no-margin">
            <md-option ng-click="showAll()" ng-value="All">All</md-option>
            <md-option ng-repeat="location in devicesLocation track by location.properties.deviceId" ng-value="{{location}}" ng-click="showDeviceGeoFence(location, $index)">{{location.properties.deviceAlias}}</md-option>
        </md-select>
    </div>
    <div flex layout-gt-sm="row" layout="column" layout-align-gt-sm="start start" layout-margin>
        <md-card class="reveal-animation md-whiteframe-5dp hoverable" flex="100" flex-gt-sm="30" ng-show="showGeoFence">
            <md-card-title md-colors="{background:'accent-300'}" layout="row">
                <md-card-title-text>
                    <span class="md-headline">Location Services</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column" style="padding-top:10px; max-height:65vh; overflow-y:auto">
                <!--<md-button>-->
                <md-icon ng-show="loading" class="rotate fade-animation">autorenew</md-icon>
                <!--</md-button> -->
                <div ng-show="!selectedDevice.geoFence.eligibility && !selectedDevice.curfew.eligibility && !selectedDevice.speedLimit.eligibility && !loading">
                    You haven't subscribed to any Location Service. Go to <span md-colors="{color:'primary'}">Preferences</span> page to subscribe.
                </div>
                <div>
                    <md-subheader class="md-no-sticky md-button-toggle md-button" md-colors="{color:'accent-400'}" ng-click="toggleTabs('showGeoDiv')" ng-show="selectedDevice.geoFence.eligibility">
                        Configure Geo Fence
                    </md-subheader>
                    <div layout="column" class="slow-fade-animation" ng-hide="!showGeoDiv">
                        <div layout="row">
                            <md-input-container flex>
                                <md-select md-colors="{color:'warn'}" name="selectedDay" placeholder="Select the type of fence" ng-model="fence.type" required="" class="no-margin">
                                    <md-option ng-repeat="type in ['Circle','Polygon']" value="{{type}}">{{type}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-show="fence.type === 'Circle'" class="reveal-animation">
                            <form name="geoFence">
                                <div flex="99">
                                    <place-autocomplete ng-model="location"></place-autocomplete>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <input type="number" placeholder="Radius  ({{mu[uom.id].Distance}})" ng-model="geoFenceRadius" required>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <md-select name="fenceArea" ng-model="device.fence" ng-model-options="{trackBy: '$value.id'}" aria-label="fence actions" placeholder="Actions" required>
                                            <md-option ng-repeat="fence in fenceList" ng-value="fence"> {{fence.area}} </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="no-margin">
                                        <md-button class="md-fab" aria-label="done" ng-click="drawGeoFence('#00FF00')" ng-disabled="geoFence.$invalid">
                                            <md-tooltip md-direction="bottom">Draw Geo Fence</md-tooltip>
                                            <md-icon md-colors="{color: 'grey-A100'}">done</md-icon>
                                        </md-button>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                        <div ng-show="fence.type === 'Polygon'" class="reveal-animation">
                            <form name="polygonFence">
                                <div ng-show="showTips">
                                    <md-list>
                                        <md-list-item class="md-2-line custom-chip md-whiteframe-z1" md-colors="{background: 'primary-100'}" ng-hide="showSummary ">
                                            <div class="md-item-text" flex="">
                                                <div layout="row" layout-align="space-between center">
                                                    <h3>Steps to build a custom fence</h3>
                                                    <md-button class="md-icon-button" aria-label="create" ng-click="closeTips()">
                                                        <md-icon md-colors="{color: 'grey-A100'}">close</md-icon>
                                                    </md-button>
                                                </div>
                                                <p style="margin:5px">1) Click on map sequentially to select fence corners</p>
                                                <p style="margin:5px">2) Click "Draw" button to view the fence</p>
                                                <p style="margin:5px; margin-bottom:20px">3) Click "Done" button to save the geo fence</p>
                                            </div>
                                        </md-list-item>
                                        <md-list-item class="md-2-line custom-chip md-whiteframe-z1" md-colors="{background: 'primary-100'}" ng-show="showSummary">
                                            <div class="md-item-text" flex="" style="margin-bottom:20px">
                                                <div layout="row" layout-align="space-between center">
                                                    <h3>Geo Fence Summary</h3>
                                                    <md-button class="md-icon-button" aria-label="create" ng-click="closeTips()">
                                                        <md-icon md-colors="{color: 'grey-A100'}">close</md-icon>
                                                    </md-button>
                                                </div>
                                                <p style="margin:5px" ng-repeat="pin in fencePinNames track by $index">{{$index+1}}) {{pin}}
                                                </p>

                                            </div>
                                        </md-list-item>

                                    </md-list>
                                </div>
                                <div layout="row">
                                    <md-input-container flex>
                                        <md-select name="fenceArea" ng-model="device.fence" ng-model-options="{trackBy: '$value.id'}" aria-label="fence actions" placeholder="Actions" required>
                                            <md-option ng-repeat="fence in fenceList" ng-value="fence"> {{fence.area}} </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-align="center center">

                                    <md-input-container>
                                        <md-button class="md-fab" aria-label="create" ng-click="drawPolygon()">
                                            <md-tooltip md-direction="bottom">Draw Geo Fence</md-tooltip>
                                            <md-icon md-colors="{color: 'grey-A100'}">create</md-icon>
                                        </md-button>
                                    </md-input-container>
                                    <md-input-container>
                                        <md-button class="md-fab" aria-label="done" ng-click="clearFence()">
                                            <md-tooltip md-direction="bottom">Redo</md-tooltip>
                                            <md-icon md-colors="{color: 'grey-A100'}">redo</md-icon>
                                        </md-button>
                                    </md-input-container>
                                    <md-input-container>
                                        <md-button class="md-fab" aria-label="done" ng-click="drawGeoFence('#00FF00')" ng-disabled="polygonFence.$invalid">
                                            <md-tooltip md-direction="bottom">Save Geo Fence</md-tooltip>
                                            <md-icon md-colors="{color: 'grey-A100'}">done</md-icon>
                                        </md-button>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div>
                    <md-subheader class="md-no-sticky md-button-toggle md-button" md-colors="{color:'accent-400'}" ng-click="toggleTabs('showCurfewDiv')" ng-show="selectedDevice.curfew.eligibility">
                        Set Curfew Alert
                    </md-subheader>
                    <form name="curfew" layout="column" class="slow-fade-animation" ng-hide="!showCurfewDiv">
                        <div ng-show="showCurfewHistory && showCurfewDiv">
                            <md-list>
                                <md-list-item class="md-2-line custom-chip md-whiteframe-z1" md-colors="{background: 'primary-100'}">
                                    <div class="md-item-text" flex="" style="margin-bottom:20px">
                                        <div layout="row" layout-align="space-between center">
                                            <h3>Active Curfew</h3>
                                            <md-button class="md-icon-button" aria-label="create" ng-click="showCurfewHistory = false">
                                                <md-icon md-colors="{color: 'grey-A100'}">close</md-icon>
                                            </md-button>
                                        </div>
                                        <div style="margin:5px" ng-repeat="(key,value) in curfews track by $index" layout="row" layout-align="space-between center">
                                            <div flex>
                                                {{$index+1}}) {{key}}
                                                <br>&nbsp;&nbsp;&nbsp;&nbsp;<small><b>Start Time: </b> {{value.startTime}}</small>
                                                <br>&nbsp;&nbsp;&nbsp;&nbsp;<small><b>End Time: </b> {{value.endTime}}</small>
                                            </div>
                                            <div>
                                                <md-button md-colors="{background: 'warn'}" class="md-mini md-fab" ng-click="deleteDeviceCurfew(key)">
                                                    <md-icon md-colors="{color: 'grey-A100'}">remove</md-icon>
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                </md-list-item>

                            </md-list>
                        </div>
                        <div layout="row">
                            <md-input-container flex="40">
                                <input mdc-datetime-picker="" date="false" time="true" type="text" id="startTime" placeholder="Start Time" min-date="minDate" format="HH:mm" ng-model="deviceCurfew.startTime" class="md-input" required>
                            </md-input-container>
                            <md-input-container>
                                <input mdc-datetime-picker="" date="false" time="true" type="text" id="endTime" placeholder="End Time" min-date="minDate" format="HH:mm" ng-model="deviceCurfew.endTime" class="md-input" readonly="readonly" required>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex>
                                <md-select multiple md-colors="{color:'accent'}" name="selectedDay" placeholder="Select a day" ng-model="curfew.days" required="" class="no-margin">
                                    <md-option ng-repeat="day in days" value="{{day}}">{{day}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="no-margin">
                                <md-button class="md-fab" aria-label="done" ng-disabled="curfew.$invalid" ng-click="setDeviceCurfew()">
                                    <md-icon md-colors="{color: 'grey-A100'}">done</md-icon>
                                </md-button>
                            </md-input-container>
                        </div>
                    </form>
                </div>
                <div>
                    <md-subheader class="md-no-sticky md-button-toggle md-button" md-colors="{color:'accent-400'}" ng-click="toggleTabs('showSpeedDiv')" ng-show="selectedDevice.speedLimit.eligibility">
                        Set Speed Alert
                    </md-subheader>
                    <form name="speedLimit" layout="column" class="slow-fade-animation" ng-hide="!showSpeedDiv">
                        <div style="margin-top: 10px; margin-bottom: -20px;">
                            <small>Speed Threshold  ({{mu[uom.id].Speed}})</small>
                        </div>
                        <div layout="row">
                            <md-slider-container flex="80">
                                <md-slider flex min="0" max="{{mu[uom.id].Limit}}" ng-model="deviceSpeedLimit.speedLimit" aria-label="Speed" id="red-slider">
                                </md-slider>
                                <md-input-container>
                                    <input flex type="number" ng-model="deviceSpeedLimit.speedLimit" aria-label="Speed" aria-controls="red-slider" style="min-width:59px">
                                </md-input-container>
                            </md-slider-container>
                            <md-input-container>
                                <md-button class="md-fab" aria-label="done" ng-disabled="speedLimit.$invalid" ng-click="setDeviceSpeedLimit()">
                                    <md-icon md-colors="{color: 'grey-A100'}">done</md-icon>
                                </md-button>
                            </md-input-container>
                        </div>
                    </form>
                </div>


            </md-card-content>
        </md-card>
        <md-card class="fade-animation md-whiteframe-5dp hoverable" flex>
            <md-card-title md-colors="{background:'accent-300'}" layout="row" layout-align="space-between center">
                <md-card-title-text>
                    <span class="md-headline">Locate Vehicle</span>
                </md-card-title-text>
                <md-menu md-offset="0 -7">
                    <md-button md-colors="{color:'grey-A100'}" aria-label="Open theme menu" class="md-icon-button" ng-click="$event.preventDefault();$mdOpenMenu($event) ">
                        <md-icon md-menu-origin>palette</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-repeat="item in ['Default', 'Dark', 'Light']">
                            <md-button ng-click="setTheme(item)"> {{item}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-card-title>
            <md-card-content layout="column" class="no-padding">
                <div id="map" style="height:64vh"></div>

            </md-card-content>
        </md-card>
    </div>
</div>