<div layout-fill layout="column" flex class="root-background">
    <md-toolbar md-colors="{background:'primary-800'}" flex="10" layout="row" class="md-whiteframe-4dp no-margin" layout-align="start center">
        <div flex flex-gt-md="20" flex-gt-xs="30" layout-fill layout="row" layout-padding layout-align="start center">
            <img ng-if="main.displayBrandLogo" class="pointer-cursor" ui-sref="root" style="height:100%;padding:0" ng-error="main.onBrandLogoFailure() "
                ng-src="{{main.getBrandLogo()}}" />
        </div>
        <div flex layout layout-padding layout-align="end center">
            <md-button class="md-icon-button white-text" ui-sref="root.login" ng-show="!main.isAuthed()">
                <md-tooltip md-direction="bottom">
                    Login
                </md-tooltip>
                <md-icon>power_settings_new</md-icon>
            </md-button>
            <md-button class="md-icon-button white-text" ui-sref="main.home" ng-show="main.isAuthed()">
                <md-tooltip md-direction="bottom">
                    Home
                </md-tooltip>
                <md-icon>home</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div flex class="dark-overlay" layout="column" layout-align="center stretch">
        <div ui-view="root" flex class="root-ui-view-animation"></div>
    </div>
</div>

<style>
    .root-background {
        background-image: url('img\\brands\\common\\ventotene.jpg');
        background-repeat: none;
        background-size: cover
    }
    .dark-overlay{
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>