<md-dialog>
    <md-toolbar layout layout-align="center center">
        Credits
    </md-toolbar>
    <md-dialog-content layout="column" layout-align="center center" layout-margin>
        <div>
            <ul>
                <li><a md-colors="{color:'accent'}" target="_blank" href="https://icons8.com">Icon pack by Icons8</a></li>
                <li>Icons made by <a md-colors="{color:'accent'}" href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver"
                        target="_blank">Madebyoliver</a> from <a md-colors="{color:'accent'}" href="http://www.flaticon.com"
                        title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a md-colors="{color:'accent'}"
                        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">  CC 3.0 BY</a>
                </li>
                <li>Icons made by <a md-colors="{color:'accent'}" target="_blank" href="http://www.flaticon.com/authors/pixel-perfect"
                        title="Pixel perfect">Pixel perfect</a> from <a md-colors="{color:'accent'}" target="_blank" href="http://www.flaticon.com"
                        title="Flaticon">www.flaticon.com</a> is licensed by <a md-colors="{color:'accent'}" href="http://creativecommons.org/licenses/by/3.0/"
                        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                </li>
                <li>
                    Icons made by <a md-colors="{color:'accent'}" href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar"
                        target="_blank">Gregor Cresnar</a> from <a md-colors="{color:'accent'}" href="http://www.flaticon.com"
                        title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a md-colors="{color:'accent'}"
                        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                </li>
            </ul>
        </div>
        <div>
            Last updated: <span><b>4th April, 2017</b></span>.
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-primary" ng-click="vm.hide()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>