<style>
	.home-pic {
		cursor: pointer;
		background-image: url('img\\brands\\common\\Smart-home.png');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
</style>

<div layout="column" layout-fill layout-padding style="padding:20px">

	<div flex="10"></div>

	<div flex layout>
		<div flex="10" flex-gt-md="20"></div>
		<div class="home-pic no-outline" layout layout-align="end start" flex>
			<div md-colors="{fill:'accent-700'}">
				<svg width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
					<animate xlink:href="#back" attributeName="r" from="5.3" to="6.5" dur="1s" begin="0s" repeatCount="indefinite" fill="freeze"
					    id="circ-anim" />
					<animate xlink:href="#back" attributeType="CSS" attributeName="opacity" from="1" to="0" dur="1s" begin="0s" repeatCount="indefinite"
					    fill="freeze" id="circ-anim" />
					<circle id="back" cx="7.2" cy="7" r="6.5" stroke-width="0.333" />
					<circle class="front" cx="7.2" cy="7" r="3.5" />
				</svg>
			</div>
		</div>
		<div flex="10" flex-gt-md="20"></div>
	</div>

	<div flex="10"></div>
</div>