<style>
    /*Perfect Scrollbar*/

    .ps-container>.ps-scrollbar-y-rail {
        width: 0px;
        right: 0px;
    }

    .ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
        width: 4px;
        border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .ps-container>.ps-scrollbar-x-rail {
        width: 0px;
        bottom: 0px;
    }

    .ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
        width: 4px;
        border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }
    /*Perfect Scrollbar*/

    .username-no-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .username-no-overflow:hover {
        overflow: auto
    }

    .smallscreen-burger {
        z-index: 2;
        height: 100%;
        position: absolute;
        left: 0;
    }

    .admin-mode {
        margin: 8px;
        cursor: pointer;
    }

    .name-contain {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap
	}

	.name-contain:hover {
		overflow: visible
	}
</style>

<!-- main layout for portal -->
<div layout-fill layout="column" flex style="overflow:hidden;position:fixed">
    <md-toolbar md-colors="{background:'primary-800'}" id="toolbar" flex="10" layout="row" class="md-whiteframe-4dp no-margin"
        layout-align="center center">
        <div hide-gt-xs flex="nogrow" class="smallscreen-burger no-margin" layout layout-align="center center">
            <md-button class="md-icon-button md-accent" ng-click="main.toggleNavbar()">
                <md-icon ng-hide="main.bNav" class="fade-animation">menu</md-icon>
                <md-icon ng-hide="!main.bNav" class="fade-animation">keyboard_arrow_left</md-icon>
            </md-button>
        </div>
        <div md-colors="{background:'primary-900'}" ui-sref="root.login" flex-gt-md="20" flex-gt-xs="30" layout-fill layout="row"
            layout-padding layout-align="center center">
            <img ng-if="main.displayBrandLogo" style="height:100%;padding:0" ng-error="main.onBrandLogoFailure() " ng-src="{{main.getBrandLogo()}}"
            />
            <div ng-if="!main.displayBrandLogo">
                Career Closet
            </div>
        </div>
        <div layout="row" show-gt-sm flex layout-fill flex-gt-md="80" flex-gt-xs="70">
            <div flex="33" ng-hide="main.smallScreen" layout="row" layout-padding layout-align="start center">
                <md-button class="md-icon-button md-accent" ng-click="main.toggleNavbar()">
                    <md-tooltip md-direction="bottom">
                        Toggle navigation pane
                    </md-tooltip>
                    <md-icon ng-hide="main.bNav" class="fade-animation">menu</md-icon>
                    <md-icon ng-hide="!main.bNav" class="fade-animation">keyboard_arrow_left</md-icon>
                </md-button>
                <md-button class="md-icon-button md-accent" ng-click="main.toggleFullscreen()">
                    <md-tooltip md-direction="bottom">
                        Toggle fullscreen
                    </md-tooltip>
                    <md-icon>fullscreen</md-icon>
                </md-button>
                <md-button class="md-icon-button md-accent" ng-click="main.refreshPage()">
                    <md-tooltip md-direction="bottom">
                        Refresh Page
                    </md-tooltip>
                    <md-icon> refresh</md-icon>
                </md-button>
            </div>
            <div ng-show="main.isAdmin()" flex layout layout-align="end center" layout-align-gt-md="center center">
                <md-tooltip md-direction="bottom">
                    Administrator Mode
                </md-tooltip>
                <md-icon class="admin-mode" md-colors="{color:'warn'}">security</md-icon>
            </div>
            <div flex layout="row" ng-hide="main.smallScreen" layout-margin layout-align="end center">
                <div class="chip">
                    <md-menu md-offset="0 71">
                        <a style="text-decoration:none;text-overflow:ellipsis" md-colors="{color:'primary-800'}" href="#" ng-click="$event.preventDefault();$mdMenu.open($event)">
                            <div md-menu-origin md-colors="{background:'primary-800'}">
                                <md-icon layout-fill md-svg-src="{{main.getProfileAvatar()}}"></md-icon>
                            </div>
                            <span class="name-contain" style="max-width:200px;">{{main.user.name}}</span>
                        </a>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ui-sref="main.profile">
                                    <md-icon md-menu-align-target>edit</md-icon>Edit Profile
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="main.logout($event)">
                                    <md-icon md-svg-src="login:logout" md-menu-align-target></md-icon>Logout
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
    </md-toolbar>
    <md-content layout="row" flex md-colors="{background:'background-200'}">
        <!-- navbar -->
        <md-sidenav md-component-id="navbar" ng-show="main.bNav" id="bigNavbar" md-colors="{background:'primary-900'}" class="md-whiteframe-2dp"
            md-is-open="main.bNav" md-is-locked-open="main.smallScreen==false" layout="column" layout-align="start start" flex="100"
            flex-gt-md="20" flex-gt-xs="30">
            <div class="navbar-img-logo" layout-padding layout style="width:100%">
                <div flex="30">
                    <div style="cursor:pointer;max-height:120px;max-width:120px" flex="none" layout layout-align="center center ">
                        <md-icon layout-fill md-svg-src="{{main.getProfileAvatar()}}" ui-sref="main.profile"></md-icon>
                    </div>
                </div>
                <div flex layout="column" layout-align="center start" class="username-no-overflow">
                    <div class="md-title">
                        {{main.user.name}}
                    </div>
                    <div layout layout-align="start center" flex class="md-subhead" layout-wrap>
                        <md-menu md-offset="0 20">
                            <a md-colors="{color:'accent-400'}" layout flex layout-align="space-between center" href="# " ng-click="$event.preventDefault();$mdMenu.open($event) ">
                                <span>{{main.getUsername()}}</span>
                                <span layout flex layout-align="end end"><md-icon>arrow_drop_down</md-icon></span>
                            </a>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ui-sref="main.profile">
                                        <md-icon md-menu-align-target>edit</md-icon>Edit Profile
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="main.logout($event) ">
                                        <md-icon md-svg-src="login:logout" md-menu-align-target></md-icon>Logout
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
            <perfect-scrollbar md-colors="{background: 'primary-900'}" class="scroller" flex-order="2" flex layout-fill wheel-propagation="true"
                wheel-speed="4" min-scrollbar-length="20" style="border-bottom:1px solid rgba(0,0,0,0.12)">
                <md-content flex ng-controller="navbar.controller as vm" style="background:transparent;padding-top:0;padding-bottom:0;
						overflow:hidden">
                    <navbar-big-links flex routes="vm.links"></navbar-big-links>
                </md-content>
            </perfect-scrollbar>
            <div style="width:100%" flex-order="4" layout="column" layout-margin>
                <div ng-show="!main.smallScreen" flex layout="row" layout-align="start center">
                    <ds-widget-clock md-colors="{color:'accent-700'}" show-digital digital-format=" 'hh:mm a' "></ds-widget-clock>
                </div>
                <div flex layout="row" layout-align="start center">
                    <div flex class="md-caption" layout="row" layout-align="start center">&copy;2017 &nbsp;</span>
                    </div>
                    <div layout layout-align="end center">
                        <md-icon class="pointer-cursor" style="margin-right:8px" ng-click="main.openCredits($event)">info_outline</md-icon>
                    </div>
                </div>
            </div>
        </md-sidenav>

        <md-content id="content" md-colors="{background:'background-200'}" layout="column" flex>
            <md-content ng-show="!main.isAppBootstrapping&&!main.stateChanging" id="viewport" md-colors="{background:'background-200'}"
                class="viewport ui-view-animation" ui-view flex ng-cloak layout="row">
            </md-content>
            <md-content ng-show="main.stateChanging " md-colors="{background:'background-200'}" class="viewport fade-animation" layout-fill
                ng-cloak>
                <div layout-fill layout="row " layout-align="center center ">
                    <div flex="40"></div>
                    <md-progress-linear class="md-accent" md-mode="indeterminate"></md-progress-linear>
                    <div flex="40"></div>
                </div>
            </md-content>

        </md-content>
    </md-content>
    <!-- mobile toolbar -->
    <div class="mobile-toolbar" md-colors="{background:'accent-700'}" flex ng-show="main.smallScreen ">
        <div flex="33" layout="row" layout-padding layout-align="start center" class="mobile-toolbar-body">
            <md-button class="md-icon-button" ng-click="main.toggleNavbar()">
                <md-icon>
                    <span>
                            <md-icon ng-hide="main.bNav">menu</md-icon>
                            <md-icon ng-hide="!main.bNav" class="fade-animation">keyboard_arrow_left</md-icon>
                    </span>
                </md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="main.toggleFullscreen()">
                <md-icon aria-label="Toggle fullscreen mode.">fullscreen</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="main.refreshPage()">
                <md-icon>
                    <span>
                            <md-icon>refresh</md-icon>
                            </span>
                </md-icon>
            </md-button>
        </div>
    </div>
</div>