<div layout layout-padding layout-fill class="rp-background-overlay">
    <div flex="0" flex-gt-md="25"></div>
    <div flex layout="row" layout-align="center center">
        <md-card class="md-whiteframe-5dp hoverable" flex-xs="100" flex="60">
            <md-card-content layout="column" flex layout-margin style="margin-bottom:0;padding-bottom:0">
                <form id="passwordForm" name="passwordForm" layout="column" accept-charset="utf-8">
                    <span class="md-body-1" style="text-align:center" md-colors="{color:'primary-300'}">Reset Password</span>
                    <div layout="column" layout-align="center">
                        <md-input-container flex>
                            <label>New Password</label>
                            <input name="password" ng-model="vm.password.new" type="password" required ng-pattern="/^(?=.*[A-z])(?=.*\d)(?=.*[@$!%*?&])[A-z\d@$!%*?&]{8,}$/">
                            <div ng-messages="passwordForm.password.$error">
                                <!--<div ng-message="required">Required.</div>-->
                                <div ng-message-exp="['required', 'pattern']">Should be atleast 8 characters long with atleast 1 alphabet, 1 numeric and 1 special character.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Confirm Password</label>
                            <input name="confirmPwd" ng-model="vm.password.confirm" type="password" required match-fields="{{vm.password.new}}">
                            <div ng-messages="passwordForm.confirmPwd.$error">
                                <div ng-message="required">Required.</div>
                                <div ng-message="matchFields">
                                    Passwords do not match.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </form>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center" layout-margin layout-padding layout-wrap>
                <div flex layout-align="end center" layout layout-margin>
                    <md-button aria-label="Press to Submit." ng-click="vm.changePassword();" class="md-raised md-accent md-hue-2" ng-disabled="passwordForm.$invalid||vm.blockClick||(!vm.token)">Submit</md-button>
                    <md-button aria-label="Go to Login." ng-show="vm.showLogin" ng-click="vm.gotoLogin();" class="md-primary md-hue-2 fade-animation blink-animation">Login</md-button>
                </div>
            </md-card-actions>
        </md-card>
    </div>
    <div flex="0" flex-gt-md="25"></div>
</div>