<style type="text/css">
    md-input-container:not(.md-input-has-value) input:not(:focus) {
        color: inherit !important;
    }

</style>
<div flex layout-margin>
    <div flex layout-gt-sm="row" layout-align-gt-sm="center center" layout-margin>
        <md-card class="reveal-animation md-whiteframe-5dp hoverable" flex-gt-sm="70" flex="100">
            <form id="cargoFormPrimary" name="cargoFormPrimary" layout="column" accept-charset="utf-8" autocomplete="off">
                <md-card-title md-colors="{background:'accent-300'}" layout="row">
                    <md-card-title-text>
                        <span ng-if="!isEditCargo" class="md-headline">Add Cargo</span>
                        <span ng-if="isEditCargo" class="md-headline">Update Cargo</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column" layout-margin-gt-sm style="margin-top:8px; margin-left:1%">
                    <md-stepper id="stepper-demo" md-mobile-step-text="false" md-vertical="true" md-linear="false" md-alternative="false">
                        <md-step md-colors="{color: 'accent-800'}" md-label="Cargo Details">
                            <md-step-body>
                                <md-card-content layout="column" flex style="margin-bottom:0;padding-bottom:0">
                                    <div layout layout-wrap layout-align="center center">
                                        <md-input-container style="padding-bottom: 5%" ng-if="isEditCargo" flex="100" flex-gt-md="100">
                                            <label>Route Name</label>
                                            <md-icon class="md-primary" md-svg-icon="login:user" aria-label="Select cargo route name."></md-icon>
                                            <md-select md-colors="{color:'accent'}" ng-model="cargo.selectedRoute" ng-model-options="{trackBy: '$value.id'}" name="routeId" required>
                                                <md-option ng-value="route" ng-repeat="route in routeList">{{ route.name }}</md-option>
                                            </md-select>
                                            <div ng-messages="cargoFormPrimary.routeId.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container style="margin-top:-5px" flex="100" flex-gt-md="50">
                                            <label>Cargo Type</label>
                                            <md-icon class="md-primary" flex="10" aria-label="Select cargo type.">tune</md-icon>
                                            <md-select md-colors="{color:'accent'}" ng-model="cargo.cargoType" name="cargoType" required>
                                                <md-option value="Furniture">Furniture</md-option>
                                                <md-option value="Furniture2">Furniture2</md-option>
                                                <md-option value="Furniture5">Furniture5</md-option>
                                                <md-option value="Electronics">Electronics</md-option>
                                                <md-option value="Machines">Machines</md-option>
                                            </md-select>
                                            <div ng-messages="cargoFormPrimary.cargoType.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-md="50">
                                            <label>Invoice Number</label>
                                            <md-icon class="md-primary" md-svg-icon="login:user" flex="10" aria-label="Enter cargo invoice number."></md-icon>
                                            <input name="invoiceNo" ng-model="cargo.invoiceNo" required>
                                            <div ng-messages="cargoFormPrimary.invoiceNo.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="100" flex-gt-md="100">
                                            <md-icon class="md-primary" flex="10" aria-label="Enter source address">location_on</md-icon>
                                            <place-autocomplete style="margin-top:-3%; margin-left:5%; margin-bottom:-2%" custom-label="Start Location" ng-model="cargo.startLocation" md-colors="{color:'accent'}" required></place-autocomplete>
                                            <div ng-messages="cargo.startLocation.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-md="100">
                                            <md-icon class="md-primary" flex="10" aria-label="Enter destinaton address">location_on</md-icon>
                                            <place-autocomplete style="margin-top:-3%; margin-left:5%; margin-bottom:-2%" custom-label="End Location" ng-model="cargo.endLocation" md-colors="{color:'accent'}" required></place-autocomplete>
                                            <div ng-messages="cargo.endLocation.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-md="100">
                                            <label>Description</label>
                                            <md-icon class="md-primary" flex="10" aria-label="Enter cargo description.">description</md-icon>
                                            <textarea name="description" ng-model="cargo.description" required/>
                                            <div ng-messages="cargoFormPrimary.description.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-md="100">
                                            <label>Special Instruction</label>
                                            <md-icon class="md-primary" flex="10" aria-label="Enter cargo special instruction.">description</md-icon>
                                            <textarea name="specialInstruction" ng-model="cargo.specialInstruction" required/>
                                            <div ng-messages="cargoFormPrimary.specialInstruction.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>
                                    </div>

                                </md-card-content>
                                <md-card-actions layout="row" layout-align="start center" layout-wrap>

                                    <div flex layout-align="end center" layout layout-margin>
                                        <md-button class="md-fab md-mini md-accent" ng-click="previousStep()">
                                            <md-icon>navigate_before</md-icon>
                                        </md-button>
                                        <md-button class="md-fab md-mini md-accent" ng-click="nextStep()">
                                            <md-icon>navigate_next</md-icon>
                                        </md-button>
                                    </div>

                                </md-card-actions>


                            </md-step-body>
                        </md-step>

                        <md-step md-label="Summary">
                            <md-step-body layout-margin>
                                <p ng-if="!isEditCargo">Are you sure you want to save the details?</p>
                                <p ng-if="isEditCargo">Are you sure you want to update the details?</p>
                                <div>
                                    <md-list layout-gt-sm="row" layout="column">
                                        <div class="ng-hide" flex="45">
                                            <md-list-item class="md-2-line" ng-repeat="(key,value) in cargo" ng-if="$index%2!=0">
                                                <div class="md-list-item-text" style="margin:0">
                                                    <h3><span></span>{{convertCamelCase(key)}}</h3>
                                                    <p>{{value}}</p>
                                                </div>
                                            </md-list-item>
                                        </div>
                                        <div class="ng-hide" flex="45">
                                            <md-list-item class="md-2-line" ng-repeat="(key,value) in cargo" ng-if="$index%2==0">
                                                <div class="md-list-item-text" style="margin:0">
                                                    <h3><span></span>{{convertCamelCase(key)}}</h3>
                                                    <p>{{value}}</p>
                                                </div>
                                            </md-list-item>
                                        </div>
                                    </md-list>
                                </div>
                            </md-step-body>
                            <md-step-actions>
                                <md-button ng-disabled="cargoFormPrimary.$invalid" ng-if="isEditCargo" class="md-accent md-raised" ng-click="editCargo()">Yes</md-button>
                                <md-button ng-disabled="cargoFormPrimary.$invalid" ng-if="!isEditCargo" class="md-accent md-raised" ng-click="addCargo()">Yes</md-button>
                                <md-button class="md-accent" ng-click="previousStep();">Back</md-button>
                            </md-step-actions>
                        </md-step>
                    </md-stepper>
                </md-card-content>
            </form>
        </md-card>
    </div>
</div>
