<md-dialog flex flex-gt-md="80">
    <md-toolbar layout="row" layout-align="center center">Add Routes</md-toolbar>
    <md-dialog-content layout-padding>
        <div layout="column" layout-align="center center">
            <form id="tripForm" name="tripForm" layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-md="50">
                    <label>Select Routes</label>
                    <md-select ng-model="b">                                
                    <md-optgroup label="routes">
                        <md-option ng-value="route" ng-repeat="route in routes" ng-click="addRoute(route)">{{route.name}}</md-option>
                    </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container flex="100" flex-gt-md="50">
                    <label>Select Driver</label>
                    <md-select ng-model="a">                                
                    <md-optgroup label="drivers">
                        <md-option ng-value="driver.id" ng-repeat="driver in drivers" ng-click="addDriver(driver)">{{driver.firstName}}&nbsp;{{driver.lastName}}</md-option>
                    </md-optgroup>
                    </md-select>
                </md-input-container>
                <div flex="100" flex-gt-md="25">
                    <label md-colors="{color:'default-accent'}">Routes</label>
                    <span ng-repeat="route in selectedRoutes track by route.id"><br>
                        <md-button class="md-icon-button" md-colors="{color:'default-warn'}" ng-click="removeRoute(route)">
                            <md-icon>delete</md-icon></md-button>{{route.name}}</span>
                </div>
                <div flex="100" flex-gt-md="25">
                    <label md-colors="{color:'default-accent'}">Start Location</label>
                    <br><div ng-repeat="route in selectedRoutes track by route.id" style="padding-top:10px">
                            {{route.startAddress}}</div>
                </div>
                <div flex="100" flex-gt-md="25">
                    <label md-colors="{color:'default-accent'}">End Location</label>
                    <br><div ng-repeat="route in selectedRoutes track by route.id" style="padding-top:10px">
                            {{route.endAddress}}</div><br>
                </div>
                <div flex="100" flex-gt-md="25">
                    <label md-colors="{color:'default-accent'}">Drivers</label>
                    <span ng-repeat="driver in selectedDrivers track by $index" ><br>
                        <md-button class="md-icon-button" md-colors="{color:'default-warn'}" ng-click="removeDriver(driver)">
                            <md-icon>delete</md-icon></md-button>{{driver.firstName}}&nbsp;{{driver.lastName}}</span>
                </div>

            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="saveRoutes()" ng-disabled="selectedRoutes.length !== selectedDrivers.length || selectedRoutes.length === 0" class="md-accent md-raised">Save</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>