<style>
.floating-textfields {
    padding-left:10px !important;
}

 md-input-container:not(.md-input-has-value) input:not(:focus), 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field {
        color: inherit !important;
    }
md-autocomplete[md-floating-label] {
    height:50px !important;
}

</style>

<md-dialog flex flex-gt-md="30">
    <md-toolbar layout="row" layout-align="center center">Edit {{trip.name}}</md-toolbar>
    <md-dialog-content layout-padding layout-margin>
        <div layout="column" layout-align="center center">
            <form id="tripForm" name="tripForm" layout="column" autocomplete="off" accept-charset="utf-8">
                <md-input-container flex="100" style="margin:0">
                    <input name="owner" ng-model="trip.owner" placeholder="Owner" required>
                    <div ng-messages="tripForm.owner.$error">
                        <div ng-message="required">Required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" style="margin:0">
                    <input name="vin" ng-model="trip.vehicleBean.id" ng-disabled="true" placeholder="VIN" required>
                    <div ng-messages="tripForm.vin.$error">
                        <div ng-message="required">Required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" style="margin:0">
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="startTime" placeholder="Start Time" min-date="minDate"
                        ng-model="trip.startTime" class="md-input" skipHide="true" required>
                </md-input-container>
                <md-input-container flex="100" style="margin-top:0">
                    <place-autocomplete custom-label="Start Location" ng-model="trip.startAddress" required></place-autocomplete>
                    <div ng-messages="tripForm.startAddress.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" style="margin-top:0">
                    <place-autocomplete custom-label="End Location" ng-model="trip.endAddress"  required></place-autocomplete>
                    <div ng-messages="tripForm.endAddress.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" style="margin:0">
                    <div>
                        <div ng-repeat="item in ['Avoid Highways','Avoid Tolls']">
                            <md-checkbox ng-checked="exists(item)" ng-click="toggle(item)">
                                {{ item }}
                            </md-checkbox>
                        </div>
                    </div>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="updateTrip()" ng-disabled="" class="md-accent md-raised">Save</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>