<style>
    #spinner {
        position: absolute;
        /*z-index: 3*/
    }

    #overlay {
        z-index: 2;
    }

    .ws_status {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        z-index: 3;
        top: 0;
    }

    .ws_status>div {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .overflow-auto {
        overflow: auto;
    }

    .overflow-y-auto {
        overflow-y: auto;
    }

    .circular-indicator>div {
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }

    .wraparound {
        overflow-wrap: break-word;
    }

    .translucent {
        color: rgba(255, 255, 255, 0.5);
    }

    .mapLoader {
        position: absolute;
        z-index: 2;
        top: 0;
    }

    .sticky-header {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .timeline-marker {
        height: 24px;
        width: 24px;
    }

    .vis-item.vis-selected,
    .vis-item {
        background-color: transparent !important;
    }
</style>

<md-content layout-gt-md="row" layout="row" layout-fill layout-wrap>

    <!-- Map and Timeline area -->
    <div id="overlay" layout-fill flex-gt-md="70" flex="100" layout="column">

        <!-- Maps area -->
        <div style="position:relative" flex="50" flex-gt-md="60">
            <div layout-fill layout layout-align="center center" class="mapLoader" ng-show="!vm.mapsReady">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div id="trip_map" layout-fill></div>
            <div layout layout-align="center" class="ws_status">
                <div id="wsStatus" layout-padding md-colors="{background:'accent'}" class="md-whiteframe-4dp">{{vm.wsStatus}}</div>
            </div>
        </div>

        <!-- event timeline -->
        <md-content class="md-whiteframe-2dp" layout="row" layout-gt-md="column" flex="50" flex-gt-md="40">
            <div flex>
                <div layout md-colors="{'background':'accent'}" class="sticky-header">
                    <div layout layout-align="start center" layout-margin>Event Timeline</div>
                    <div flex layout layout-align="end center" ng-show="vm.showControls">
                        <div layout-padding class="fade-animation" ng-cloak>
                            <md-button class="md-icon-button" ng-class="{'md-primary':vm.followingEvents}" ng-click="vm.followingEvents=!vm.followingEvents">
                                <md-icon>fast_forward</md-icon>
                                <md-tooltip md-direction="down">Follow Events: {{vm.followingEvents?'On':'Off'}}</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.timelineNow()">
                                <md-icon>access_time</md-icon>
                                <md-tooltip md-direction="down">Go to current time</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.fitTimeline()">
                                <md-icon>filter_center_focus</md-icon>
                                <md-tooltip md-direction="down">Fit Events</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.timelineLoading" layout-fill layout layout-align="center center">
                    <md-progress-linear flex="75" md-mode="indeterminate"></md-progress-linear>
                </div>
                <div ng-show="!vm.timelineLoading" layout="column">
                    <div id="timeline" layout-fill></div>
                </div>
            </div>
        </md-content>
    </div>

    <!-- Info content area -->
    <div class="md-whiteframe-8dp" layout-fill flex-gt-md="30" flex="100" layout="column">
        <!-- trip info area-->
        <div class="overflow-auto" flex>

            <div layout md-colors="{'background':'accent'}" class="sticky-header">
                <div layout flex layout-margin>Details</div>
                <!--controls -->
                <div md-colors="{background: 'primary-900'}" ng-show="vm.showControls">
                    <div layout-padding class="fade-animation" ng-cloak id="controls" style="z-index:1">
                        <md-content style="border-radius:4px" layout flex="none" layout-align="end center">
                            <md-button class="md-icon-button" ng-class="{'md-accent':vm.darkTheme}" ng-click="vm.toggleTheme()">
                                <md-icon>palette</md-icon>
                                <md-tooltip md-direction="down">Theme: {{vm.darkTheme?'Dark':'Light'}}</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button" ng-class="{'md-accent':vm.followMarker}" ng-click="vm.followMarker=!vm.followMarker">
                                <md-icon>fast_forward</md-icon>
                                <md-tooltip md-direction="down">Follow Vehicle: {{vm.followMarker?'On':'Off'}}</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.recenterVehicle()">
                                <md-icon>filter_center_focus</md-icon>
                                <md-tooltip md-direction="down">Re-center</md-tooltip>
                            </md-button>
                        </md-content>
                    </div>
                </div>
            </div>
            <md-content layout-padding layout="column" layout-align="start center" class="overflow-auto" layout-wrap>
                <div layout-align="center center" layout="column" flex layout-fill>
                    <h2>{{vm.trip.name}}</h2>
                    <md-list layout-fill layout="column">
                        <md-list-item class="md-2-line" ng-repeat="(key,value) in vm.trip" ng-if="key !== 'waypoints' && key !== 'vehicleBean' && key!== 'id' && key!== 'name' 
                        && key !== 'startLon' && key !== 'startLat' && key !== 'endtLon' && key !== 'endLat'">
                            <div class="md-list-item-text" style="margin:0">
                                <h3 ng-if="key!=='startTime' && key!=='endTime' && key!=='actualStartTime'"><span></span>{{value}}</h3>
                                <h3 ng-if="key==='startTime' || key==='endTime' || key==='actualStartTime'"><span></span>{{value | date:"short"}}</h3>
                                <h3 ng-if="!value">-</h3>
                                <p>{{vm.refineKey(key)}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <md-divider layout-fill></md-divider>
                <div layout-align="center center" layout="column" flex layout-fill>
                    <h2>Vehicle Details</h2>
                    <md-list layout-fill layout="column">
                        <md-list-item class="md-2-line" ng-repeat="(key,value) in vm.trip.vehicleBean" ng-if="key!== 'id' && key!== 'vehicleMetaData' && key!== 'vehicleInsurance' && key!== 'device'">
                            <div class="md-list-item-text" style="margin:0">
                                <h3 ng-if="key!=='serviceDate' && key!=='registrationDate' && key!=='registrationRenewalDate'"><span></span>{{value}}</h3>
                                <h3 ng-if="key==='serviceDate' || key==='registrationDate' || key=='registrationRenewalDate'"><span></span>{{value | date:"short"}}</h3>
                                <h3 ng-if="!value">-</h3>
                                <p>{{vm.refineKey(key)}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </div>
        <!-- real-time data -->
        <div class="overflow-auto" flex>
            <div layout-fill>
                <div layout md-colors="{'background':'accent'}" class="sticky-header">
                    <div layout flex layout-margin>Real-Time Data</div>
                    <div layout layout-align="center center" flex>
                        <div><b>{{vm.vehicle.id}}</b></div>
                    </div>
                </div>
                <md-content layout-padding layout="column" layout-align="start center" class="overflow-auto" layout-wrap>
                    <div layout layout-fill>
                        <div layout="column" flex="25" layout-align="center">
                            <div class="wraparound">Speed</div>
                            <div class="wraparound md-subheader"><b>{{vm.vehicle.speed}} km/h</b></div>
                        </div>
                        <div style="padding-left: 8px" flex="75" layout layout-align="center center">
                            <md-progress-linear class="md-accent" md-mode="determinate" value="{{vm.vehicle.speed/250*100}}"></md-progress-linear>
                        </div>
                    </div>
                    <div layout layout-fill>
                        <div layout="column" flex="25" layout-align="center">
                            <div class="wraparound">Engine RPM</div>
                            <div class="wraparound md-subheader"><b>{{vm.vehicle.engineRPM}} /min</b></div>
                        </div>
                        <div style="padding-left: 8px" flex="75" layout layout-align="center center">
                            <md-progress-linear class="md-accent" md-mode="determinate" value="{{vm.vehicle.engineRPM/5000*100}}"></md-progress-linear>
                        </div>
                    </div>
                    <div layout layout-fill>
                        <div layout="column" flex="25" layout-align="center">
                            <div class="wraparound">Coolant Temp</div>
                            <div class="wraparound md-subheader"><b>{{vm.vehicle.coolantTemp}} celcius</b></div>
                        </div>
                        <div style="padding-left: 8px" flex="75" layout layout-align="center center">
                            <md-progress-linear class="md-accent" md-mode="determinate" value="{{vm.vehicle.coolantTemp/200*100}}"></md-progress-linear>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>

</md-content>