<!DOCTYPE HTML>
<html>

<head>
    <title>Fleet Dashboard Metrics</title>
    <meta http-equiv="content-type" content="charset=UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<style type="text/css">
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>-->
</head>

<body ng-app="fleet.dashboard">

    <ui-view layout-fill></ui-view>

    <link rel="stylesheet" href="font/iconfont/material-icons.css">
    <link rel="stylesheet" href="bower_components/roboto/2014/roboto-woff.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">

    <script type="application/javascript" src="bower_components/gsap/src/minified/TweenMax.min.js "></script>
    <script type="application/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="application/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="application/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="application/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="application/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="application/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
    <script type="application/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type="application/javascript" src="bower_components/ng-stomp/dist/ng-stomp.standalone.min.js"></script>
    <script type="application/javascript" src="components/common/vendor/markerCluster.js"></script>
    <script type="application/javascript" src="components/common/vendor/marker-animate.js"></script>
    <script type="application/javascript" src="bower_components/angular-animate-model-change/dist/ng-animate-model-change.js"></script>



    <script type="application/javascript" src="app.js"></script>
    <script type="application/javascript" src="constants.js"></script>

    <!-- Services, configs, directives, controllers-->
    <script type="application/javascript" src="components/common/routes.js"></script>
    <script type="application/javascript" src="components/common/loading.bar.js"></script>
    <script type="application/javascript" src="components/common/async.map.loader.factory.js"></script>
    <script type="application/javascript" src="components/dashboard/dashboard.services.js"></script>


    <script type="application/javascript" src="components/dashboard/dashboard.controller.js"></script>






</body>

</html>